{% extends 'base.html' %}
{% load static %}
{% block main-container %}

    <div class="row">
        <div class="col-md-9 shadow">
            <div class="mt-5 p-3">
            <h4>Customer details & Product details</h4>

            <p><strong>Customer Name:</strong> {{request.user.username}}</p>
            <p><strong>Customer Email ID:</strong>{{request.user.email}}</p>
            <p><strong>Customer Mobile:</strong>7769066351</p>
            </div>
        </div>

        <div class="col-md-3 shadow">
            <div class="mt-3 p-3">
            <h4>Price details</h4>
            <hr>
            <p><strong>Price({{n}} items):</strong>{{total}}</p>
            <p><strong>Total Amount:</strong>{{total}}</p>
            <a href="/makepayment" class="anchor"><button class="btn btn-danger">Make Payment</button></a>

        </div>
    
      
    </div>
    </div> 
    


            <div class="mt-3 p-2 bg-danger shadow">
                <h4>Order Summery</h4>
            </div>
           
      <div class="mt-3 p-3">
      {% for i  in orders %}
          
        <div class="row">
            <div class="col-md-4 shadow">
                <img src="{{i.p_id.pimage.url}}" class="card-img-top" alt="..." width="100px" height="400px">
            </div>

            <div class="col-md-8 shadow fs-5">
            <p><strong>Product Name:</strong>{{i.p_id.pname}}</p>
            <p><strong>Category:</strong>{{i.category}}</p>
            <p><strong>Price:</strong>{{i.pid.price}}</p>
            <p><strong>description:</strong>{{i.pid.description}}</p>
            <a href="/addtocart/{{i.id}}" class="anchor"><button class="btn btn-danger">Add to cart</button></a>
        
        </div>
      
      {% endfor %} 
    </div>
        
    </div>
    
                <!--Cart End-->

{% endblock main-container %}
